/*
Theme Name: Velocity Berita 6
Theme URI: https://velocitydeveloper.com
Description: Velocity Developer WordPress theme child for Berita 6.
Author: Velocity Developer
Author URI: https://velocitydeveloper.com/kontak-kami/
Template: velocity
Version: 1.0.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */
